:root{
  --primaryTheme: #280901;
  --sideTheme: #{rgba(225,214,203,0.2)};
  --controlbarHeight: 50px;
  --search-zone-height: 40px;
  --text-color-0: black;
  --text-color-0-reverse: white;
  --text-color-1 : #999;
  --text-color-2 : #777;
  --albumart-bg: #eee;
  --control-button-bg: #{rgba(240,240,240,.3)};
  --control-button-bg-reverse: #{rgba(240,240,240,.5)};
  --section-1-background: #{rgba(255,255,255,0.7)};
  --section-2-background: #{rgba(250,250,250,0.7)};
  --line-bg: #{rgba(200,200,200,0.6)};
  --scrollbar-track-bg: rgba(250,250,250,0.2);
  --item-hover-bg: #{rgba(240,240,240,0.5)};
  --item-active-bg: #{rgba(240,240,240,0.6)};
  --exposition-height: 163px;
  --exposition-default-background: rgb(201, 201, 201);
  --exposition-body-background: rgba(200,200,200,0.2);
  --exposition-body-shadow: rgba(200,200,200,1);
  --exposition-mask : rgba(180,180,180,0.9);
  --blur : 60px;
}

.app-main.dark-theme{
  --sideTheme: #{rgba(110, 98, 86, 0.2)};
  --text-color-0 : white;
  --text-color-0-reverse: black;
  --text-color-1 : #777;
  --text-color-2 : #aaa;
  --albumart-bg: #333;
  --primaryTheme: #{rgb(230, 218, 218)};
  --section-1-background: #{rgba(0, 0, 0, 0.85)};
  --section-2-background: #{rgba(46, 45, 45, 0.7)};
  --control-button-bg: #{rgba(50,50,50,.3)};
  --control-button-bg-reverse: #{rgba(100,100,100,.5)};
  --line-bg: #{rgba(20,20,20,0.6)};
  --scrollbar-track-bg: rgba(50,50,50,0.2);
  --item-hover-bg: #{rgba(50,50,50,0.5)};
  --item-active-bg: #{rgba(50,50,50,0.6)};
  --exposition-default-background: rgb(101, 101, 101);
  --exposition-body-background: rgba(80,80,80,0.1);
  --exposition-body-shadow: rgba(10,10,10,1);
  --exposition-mask : rgba(50,50,50,0.9);
}
.no-drag-zone{
  -webkit-app-region: no-drag;
}

@function variant($light, $dark){
  @return var(--dark-theme, $dark) var(--light-theme, $light);
}

%ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-2);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-1);
}

#root{
  overflow: hidden;
  height: 100vh;
}

body, html{
  background-color: transparent;
}

.initializer{
  position: relative;
  // border-radius: 1em;
  .image{
    height: 100vh;
    background-color: #333;
    background-image: url(../../public/splash.jpg);
    background-size: auto 92%;
    background-repeat: no-repeat;
    background-position: top center;
    // -webkit-app-region: drag;
    // -webkit-user-select: none;
    // user-select: none;
    .app-name{
      height: 80px;
      text-align: center;
      h1{
        display: inline-block;
        font-family: Lexend-Bold;
        color: var(--text-color-0-reverse);
        font-size: 2em;
        text-shadow: 0 0 2px #333;
      }
      label{
        display: inline-block;
        font-family: Lexend;
        word-spacing: 3px;
        letter-spacing: 8px;
        color: var(--text-color-0-reverse);
        font-size: .8em;
        text-shadow: 0 0 7px #000;
      }
    }
  }
  .info{  
    -webkit-app-region: no-drag;
    padding: .4em;
    max-height: 24vh;
    position: absolute;
    backdrop-filter: blur(10px);
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    .message{
      font-family: Poppins-Medium;
      padding: .3em .5em;
      color: #ddd;
      font-size: 1em;
    }
    .item{
      padding: .1em .4em;
      font-family: Roboto;
      font-size: .7em;
      color: #ccc;
      label{
        padding: 0 .5em;
      }
      b{
        letter-spacing: .3em;
        font-weight: lighter;
        font-size: .8em;
      }
    }
  }
}

.app-window{
  //background-color: red;
  border-radius: 1em;
  .app-title-bar{
    height: 40px;
    background-color: #ccc;
  }
}

.app-main{
  border-radius: .4em;
  // border: 1px solid rgba(100,100,100,.4);
  box-shadow:  0 0 5px 2px rgba(0,0,0,1);
  &.splash{
    background-image: url(../../public/splash.jpg);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .app-background{
    // filter: blur(40px);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .app-section-1{
     height: calc(100% - var(--controlbarHeight));
     &.immersive{
       height: 100%;
       .scroll-view{
         padding-bottom: calc(var(--controlbarHeight) + 10px);
       }
     }
     backdrop-filter: blur(var(--blur));
     background-color: var(--section-1-background)
  }
  .app-section-2{
    height: var(--controlbarHeight);
    background-color: var(--sideTheme);
    backdrop-filter: blur(var(--blur)); 
    background-color: var(--section-2-background);
  }
}

.app-sidemenu{
  //background-color: green;
  .app-drawer{
    // padding: 0 0.3em 0;
    color: var(--text-color-0);
    .header{
      font-family: Poppins-Bold;
      padding: 0 .4em 1.2em .4em;
      color: var(--text-color-0);
      -webkit-app-region: drag;
      user-select: none;
      height: var(--search-zone-height);
      padding-top: .8em;
      i{
        font-size: 1.2em;
      }
      h1{
        font-size: 1em;
        padding: 0 .4em;
      }
      .win-buttons{
        gap: .4em;
        .win-button{
          width: 20px;
          height: 20px;
          border: 0;
          font-size: .5em;
          border-radius: 50%;
          color: #bbb;
          background-color: #aaa;
          -webkit-app-region: no-drag;
          outline: none;
          &.min:hover{
            background-color: rgb(29, 156, 156);
            color: white;
          }
          &.max:hover{
            background-color: rgb(252, 171, 21);
            color: white;
          }
          &.close{
            font-size: .7em;
            &:hover{
              background-color: rgb(218, 17, 17);
              color: white;
            }
          }
        }
      }
    }
    .minimal-icon-zone{
      font-size: 2em;
      padding-top: .3em;
    }
    .links{
      padding: .5em .3em .5em 50px;
      &.minimal{
        padding-left: 25px;
        padding-top: 0;
      }
      .link-header{
        padding: .4em 0 1em 0;
        font-family: Poppins;
        font-size: .9em;
        font-weight: normal;
        color: var(--text-color-0);
      }
      .link{
        padding: .5em;
        font-family: Lexend;
        --square: 30px;
        color: var(--text-color-0);
        i{
          font-size: 1.2em;
          width: var(--square);
          height: var(--square);
          line-height: calc(var(--square) - 1px);
          text-align: center;
          position: relative;
          //top: -.2em;
          border-radius: 50%;
        }
        label{
          padding: .3em .5em;
          position: relative;
          font-size: .9em;
          //top: -.2em;
        }
        &.active{
          text-shadow: unset;
          i{
            background-color: var(--primaryTheme);
            color: var(--text-color-0-reverse);
            font-size: 1.6em;
          }
          label{
            font-family: Lexend-Bold;
            color: var(--text-color-0);
          }
        }
      }
    }
  }
}

.appbar{
  height: var(--search-zone-height);
  -webkit-app-region: drag; position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  // backdrop-filter: blur(10px);
  padding: .4em 0;
  gap: 1em;
  .nav-box{
    padding: 0 .4em;
    gap: .1em;
    i{
      font-size: 1.6em;
      color: var(--text-color-1);
      &.active{
        color: var(--text-color-0);
      }
    }
  }
  .collapsable-btn{
    border: 0;
    background-color: rgba(250,250,250,0.1);
    padding: .2em .3em;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: .8em;
    color: var(--text-color-0);
  }
  label{
    font-family: Poppins-Bold;
    color: var(--text-color-0);
  }
  .misc{
    padding: 0 1em;
    // justify-content: space-evenly;
    gap: 1em;  
    button{
      -webkit-app-region: no-drag;
      border: 0;
      width: 27px;
      height: 27px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(200,200,200,0.6);
      color: var(--text-color-0);
      // padding: .2em;
      font-size: 1.2em;
      &.to-dark{
        background-color: rgba(50,50,80,0.8);
        color: #fff;
        box-shadow: 0 1px 2px 0 #333;
      }
      &.to-light{
        background-color: rgba(250,250,200,0.9);
        color: #555;
        box-shadow: 0 1px 2px 0 #ccc;
      }
    }
  }
}

.view-search{
  position: relative;
  .search-zone{
    .field{
      padding: .2em .5em;
      background-color: rgba(227, 217, 217, 0.5);
      border-radius: .4em;
      -webkit-app-region: no-drag;
      i{
        color: var(--text-color-2);
        font-size: 1.1em;
        padding: 0 .5em;
      }
      input{
        font-family: Poppins;
        border: 0;
        background-color: unset;
        outline: none;
        font-size: .85em;
        color: var(--text-color-0);
        &::placeholder{
          color: var(--text-color-2);
        }
      }
    }
  }
  .scroll-view{
    height: calc(100% - var(--search-zone-height));
    position: relative;
    top: var(--search-zone-height);
    padding: .4em;
    div[role="grid"]{
      overflow-x: hidden !important;
    }
    .group-tag{
      padding: .4em;
      color: var(--text-color-1);
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.exposition{
  padding: 0 .2em;
  .wall{
    height: var(--exposition-height);
    background-color: var(--exposition-default-background);
    border-radius: 0 0 .5em .5em;
    color: var(--text-color-0);
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    .mask{
      // background-color: var(--exposition-mask);
      backdrop-filter: blur(1px);
      background-image: linear-gradient(var(--exposition-mask) -30%, transparent 90%);
    }
    .title{
     font-family: Poppins-Bold;
     font-size: 2em;
     padding: .4em;
     padding-top: 50px; 
     color: var(--text-color-0);
     text-shadow: 0 0 20px var(--text-color-0-reverse);
    //  background-image: linear-gradient(transparent 0%, var(--text-color-0-reverse) 70%);
    }
  }
  .body{
    padding: 1em;
    margin: .3em 0;
    background-color: var(--exposition-body-background);
    border-radius: 1.3em;
    overflow: hidden;
    height: 100%;
    position: relative;
    // &::before, &::after{
    //   content: "";
    //   width: 100%;
    //   height: 0px;
    //   box-shadow: 0 0 15px 15px var(--exposition-body-shadow);
    //   background-color: var(--exposition-body-background);
    //   position: absolute;
    //   left: 0;
    // }
    // &::before{
    //   top: 0;
    // }
    // &::after{
    //   bottom: 0;
    // }
  }
}

.albuminfo{
  .wall{
    height: calc(var(--exposition-height) - 60px); 
  }
  &.minimal{
    .wall{
      height: var(--exposition-height); 
    }
  }
  .music-row-wrapper{
    padding: .2em;
    .count{
      color: var(--text-color-1);
      font-family: Roboto;
      padding: .2em;
      width: 40px;
      font-size: .8em ;
    }
  }
}

.person-item{
  padding: .4em;
  border-radius: .8em;
  cursor: pointer;
  --avatar-size: 90px;
  &:hover{
    background-color: var(--item-hover-bg);
  }
  .avatar{
    width: var(--avatar-size);
    height: var(--avatar-size);
    background-color: var(--albumart-bg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    i{
      color: var(--text-color-1);
      font-size: 3em;
    }
  }
  .data{
    width: calc(100% - var(--avatar-size));
    padding: .3em .4em;
    .title{
        font-family: Lexend-Medium;
        font-size: .9em;
        padding: .4em 0;
        @extend %ellipsis;
        color: var(--text-color-0);
    }
    .alt{
        font-family: Roboto;
        font-size: .7em;
        @extend %ellipsis;
        color: var(--text-color-1);
    }
  }
}

.music-item{
  --height: 210px;
  --albumart: 130px;
  --albumwidth: 100%;
  --infoWidth: 100%;
  --borderWidth: 0;
  &.row-display{
    --height: 60px;
    --borderWidth: 4px;
    --albumart: 60px;
    --albumwidth: 60px;
    &.active::after{
      position: absolute;
      left: .24em;
      top: 50%;
      content: "";
      border-radius: 1em;
      transform: translateY(-50%);
      width: var(--borderWidth);
      height: 35%;
      background-color: var(--text-color-0);
    }
  }
  &.albumartless{
    --albumwidth: 0px;
  }

  padding: .3em .5em;
  height: var(--height);
  border-radius: .5em;
  position: relative;
  &:hover{
    background-color: var(--item-hover-bg);
    cursor: pointer;
  }
  &.active{
    background-color: var(--item-active-bg);
  }
  .album-art{
    height: var(--albumart);
    width: var(--albumwidth);
    background-color: var(--albumart-bg);
    border-radius: .4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    i{
      color: var(--text-color-1);
      font-size: 3em;
    }
  }
  .info{
    padding: .2em;
    .title{
        font-family: Lexend-Medium;
        font-size: .8em;
        padding: .3em 0;
        @extend %ellipsis;
        color: var(--text-color-0);
    }
    .artist{
        font-family: Roboto;
        font-size: .7em;
        @extend %ellipsis;
        color: var(--text-color-1);
    }
  }
}

.control-bar{
  padding: .1em .2em .4em .4em;
  &.floating-bar{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 5px;
    box-shadow: 0 0 2px 0 #777;
    border-radius: .4em;
    // backdrop-filter: blur(15px); @exp
    background-color: rgba(250,250,250,0.9);
  }
  .album-art{
    width: calc(var(--controlbarHeight) - 10px);
    height: calc(var(--controlbarHeight) - 10px);
    background-color: var(--albumart-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .3em;
    font-size: 1.2em;
    color: var(--text-color-1);
  }
  .music-info{
    padding: 0 .3em;
    label{
      // padding: .2em 0;
      font-size: .8em;
      &.title{
        font-family: Lexend-Medium;
        @extend %ellipsis;
        color: var(--text-color-0);
      }
      &.artist{
        font-family: Lexend;
        color: #444;
        @extend %ellipsis;
        color: var(--text-color-2);
      }
    }
  }
  .controls{
    gap: .5em;
    button{
      --size: 34px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      border: 0;
      background-color: var(--control-button-bg);
      color: var(--text-color-2);
      &:hover{
        background-color: var(--control-button-bg-reverse);
      }
    }
  }
  .time-control{
    .time{
      font-family: Poppins;
      font-size: 80%;
      letter-spacing: .1em;
      color: var(--text-color-0);
    }
  }
  .queue-control{
    gap: .8em;
    button{
      padding: .5em;
      border-radius: .5em;
      border: 0;
      background-color: var(--control-button-bg);
      color: var(--text-color-0);
      i{
        font-size: 1.1em;
      }
    }
    .volume{
      margin-left: .3em;
    }
  }
}


.line-container{
  height: 20px;
  position: relative;
  .line{
    height: 4px;
    background-color: var(--line-bg);
    border-radius: .3em;
    .indicator{
      height: inherit;
      background-color: var(--text-color-0);
      border-radius: inherit;
    }
  }
  .marker{
    --size: 10px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: var(--text-color-0);
  }
}