:root{
  --primaryTheme: #280901;
  --sideTheme: #{rgba(225,214,203,0.2)};
  --controlbarHeight: 50px;
  --search-zone-height: 40px;
  --text-color-0: black;
  --text-color-0-reverse: white;
  --text-color-1 : #999;
  --text-color-2 : #777;
  --albumart-bg: #eee;
  --control-button-bg: #{rgba(240,240,240,.3)};
  --control-button-bg-reverse: #{rgba(240,240,240,.5)};
  --section-1-background: #{rgba(255,255,255,0.7)};
  --section-2-background: #{rgba(250,250,250,0.7)};
  --line-bg: #{rgba(200,200,200,0.6)};
  --scrollbar-track-bg: #{rgba(250,250,250,0.2)};
  --item-hover-bg: #{rgba(240,240,240,0.5)};
  --item-active-bg: #{rgba(240,240,240,0.6)};
  --exposition-height: 163px;
  --exposition-default-background: #{rgb(201, 201, 201)};
  --exposition-body-background: #{rgba(200,200,200,0.3)};
  --exposition-body-shadow: #{rgba(200,200,200,1)};
  --exposition-mask : #{rgba(180,180,180,0.9)};
  --blur : 60px;
  --popup-background: #{rgba(250,250,250,1)};
  --popup-mask: #{rgba(200,200,200,0.1)};
  --popup-backdrop: #{blur(0px)};
  --popup-shadow-color: #444;
  --light-button-bg: #{rgba(200,200,200,0.1)};
  --win-btn-bg: #aaa;
  --win-btn-color: #bbb;
  --menu-item-wrapper-bg: #{rgba(200,200,200,0.1)};
  --menu-item-hover-bg: #{rgba(200,200,200,0.5)};
  --menu-item-color: black;
  --menu-title-color: black;
  --player-ui-line-bg: #{rgba(255,255,255,0.7)};
  --tab-header-height: 40px;
  --header-action-height: 20px;
}

#root{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: relative;
  &.dark-mode{
    --sideTheme: #{rgba(110, 98, 86, 0.2)};
    --text-color-0 : white;
    --text-color-0-reverse: black;
    --text-color-1 : #777;
    --text-color-2 : #aaa;
    --albumart-bg: #333;
    --primaryTheme: #{rgb(230, 218, 218)};
    --section-1-background: #{rgba(0, 0, 0, 0.85)};
    --section-2-background: #{rgba(46, 45, 45, 0.7)};
    --control-button-bg: #{rgba(50,50,50,.3)};
    --control-button-bg-reverse: #{rgba(100,100,100,.5)};
    --line-bg: #{rgba(20,20,20,0.6)};
    --scrollbar-track-bg: #{rgba(50,50,50,0.2)};
    --item-hover-bg: #{rgba(50,50,50,0.5)};
    --item-active-bg: #{rgba(50,50,50,0.6)};
    --exposition-default-background: #{rgb(101, 101, 101)};
    --exposition-body-background: #{rgba(80,80,80,0.1)};
    --exposition-body-shadow: #{rgba(10,10,10,1)};
    --exposition-mask : #{rgba(50,50,50,0.9)};
    --popup-background: #{rgba(50,50,50,1)};
    --popup-mask: #{rgba(0,0,0,0.2)};
    --popup-backdrop: #{blur(0px)};
    --popup-shadow-color: #444;
    --light-button-bg: #{rgba(20,20,20,0.1)};
    --win-btn-bg: #{rgb(233, 232, 232)};
    --win-btn-color: #{rgb(226, 226, 226)};
    --menu-item-wrapper-bg: #{rgba(20,20,20,0.1)};
    --menu-item-hover-bg: #{rgba(20,20,20,0.5)};
    --menu-item-color: white;
    --menu-title-color: white;
    --player-ui-line-bg: #{rgba(255,255,255,0.1)};
  }
}

.app-main{
  position: inherit;
}

#app{
  min-width: 800px;
  min-height: 500px;
  overflow: hidden;
  .app-content{
    min-height: inherit;
    min-width: inherit;
  }
}

.no-drag-zone{
  -webkit-app-region: no-drag;
}

.drag-zone{
  -webkit-app-region: drag;
}

@function variant($light, $dark){
  @return var(--dark-theme, $dark) var(--light-theme, $light);
}

%ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
%primary-info{
  font-family: Lexend-Medium;
  font-size: .9em;
  padding: .4em 0;
  @extend %ellipsis;
  color: var(--text-color-0);
}
%secondary-info{
  font-family: Roboto;
  font-size: .7em;
  @extend %ellipsis;
  color: var(--text-color-1);
}

%overable{
  cursor: pointer;
  &:hover{
    background-color: var(--item-hover-bg);
  }
}

%cover-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--text-color-2);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--text-color-1);
}

body, html{
  background-color: transparent;
}

.loop-single{
  position: relative;
  label{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: .4em !important;
  }
}

.initializer{
  position: relative;
  // border-radius: 1em;
  .image{
    height: 100vh;
    background-color: #333;
    background-image: url(../../public/splash.jpg);
    background-size: auto 92%;
    background-repeat: no-repeat;
    background-position: top center;
    // -webkit-app-region: drag;
    // -webkit-user-select: none;
    // user-select: none;
    .app-name{
      height: 80px;
      text-align: center;
      h1{
        display: inline-block;
        font-family: Lexend-Bold;
        color: var(--text-color-0-reverse);
        font-size: 2em;
        text-shadow: 0 0 2px #333;
      }
      label{
        display: inline-block;
        font-family: Lexend;
        word-spacing: 3px;
        letter-spacing: 8px;
        color: var(--text-color-0-reverse);
        font-size: .8em;
        text-shadow: 0 0 7px #000;
      }
    }
  }
  .info{  
    -webkit-app-region: no-drag;
    padding: .4em;
    max-height: 24vh;
    position: absolute;
    backdrop-filter: blur(10px);
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.1);
    .message{
      font-family: Poppins-Medium;
      padding: .3em .5em;
      color: #ddd;
      font-size: 1em;
    }
    .item{
      padding: .1em .4em;
      font-family: Roboto;
      font-size: .7em;
      color: #ccc;
      label{
        padding: 0 .5em;
      }
      b{
        letter-spacing: .3em;
        font-weight: lighter;
        font-size: .8em;
      }
    }
  }
}

.app-window{
  //background-color: red;
  border-radius: 1em;
  .app-title-bar{
    height: 40px;
    background-color: #ccc;
  }
}

.app-main{
  border-radius: .4em;
  // border: 1px solid rgba(100,100,100,.4);
  box-shadow:  0 0 5px 2px rgba(0,0,0,1);
  &.splash{
    background-image: url(../../public/splash.jpg);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .app-background{
    // filter: blur(40px);
    background-size: 98%;
    background-repeat: no-repeat;
    background-position: center;
  }
  .app-section-1{
     height: calc(100% - var(--controlbarHeight));
     &.immersive{
       height: 100%;
       .scroll-view{
         padding-bottom: calc(var(--controlbarHeight) + 10px);
       }
     }
     backdrop-filter: blur(var(--blur));
     user-select: none;
     background-color: var(--section-1-background)
  }
  .app-section-2{
    height: var(--controlbarHeight);
    background-color: var(--sideTheme);
    backdrop-filter: blur(var(--blur)); 
    background-color: var(--section-2-background);
  }
}

.app-sidemenu{
  //background-color: green;
  .app-drawer{
    // padding: 0 0.3em 0;
    color: var(--text-color-0);
    user-select: none;
    .header{
      font-family: Poppins-Bold;
      padding: 0 .4em 1.2em .4em;
      color: var(--text-color-0);
      -webkit-app-region: drag;
      user-select: none;
      height: var(--search-zone-height);
      padding-top: .8em;
      i{
        font-size: 1.2em;
      }
      h1{
        font-size: 1em;
        padding: 0 .4em;
      }
      .win-buttons{
        gap: .4em;
        position: relative;
        z-index: 100;
        .win-button{
          width: 20px;
          height: 20px;
          border: 0;
          font-size: .5em;
          border-radius: 50%;
          color: var(--win-btn-color);
          background-color: var(--win-btn-bg);
          -webkit-app-region: no-drag;
          outline: none;
          &.min:hover{
            background-color: rgb(29, 156, 156);
            color: white;
          }
          &.max:hover{
            background-color: rgb(252, 171, 21);
            color: white;
          }
          &.close{
            font-size: .7em;
            &:hover{
              background-color: rgb(218, 17, 17);
              color: white;
            }
          }
        }
      }
    }
    .minimal-icon-zone{
      font-size: 2em;
      padding-top: .3em;
    }
    .links{
      padding: .5em .3em .5em 50px;
      &.minimal{
        padding-left: 25px;
        padding-top: 0;
      }
      .link-header{
        padding: .4em 0 1em 0;
        font-family: Poppins;
        font-size: .9em;
        font-weight: normal;
        color: var(--text-color-0);
      }
      .link{
        padding: .5em;
        font-family: Lexend;
        --square: 30px;
        color: var(--text-color-0);
        i{
          font-size: 1.2em;
          width: var(--square);
          height: var(--square);
          line-height: calc(var(--square) - 1px);
          text-align: center;
          position: relative;
          //top: -.2em;
          border-radius: 50%;
        }
        label{
          padding: .3em .5em;
          position: relative;
          font-size: .9em;
          //top: -.2em;
        }
        &.active{
          text-shadow: unset;
          i{
            background-color: var(--primaryTheme);
            color: var(--text-color-0-reverse);
            font-size: 1.6em;
          }
          label{
            font-family: Lexend-Bold;
            color: var(--text-color-0);
          }
        }
      }
    }
  }
}

.appbar{
  height: var(--search-zone-height);
  -webkit-app-region: drag; position: absolute;
  left: 0;
  top: 0;
  z-index: 3;
  // backdrop-filter: blur(10px);
  padding: .4em 0;
  gap: 1em;
  .nav-box{
    padding: 0 .4em;
    gap: .1em;
    i{
      font-size: 1.6em;
      color: var(--text-color-1);
      &.active{
        color: var(--text-color-0);
      }
    }
  }
  .collapsable-btn{
    border: 0;
    background-color: rgba(250,250,250,0.1);
    padding: .2em .3em;
    font-size: 1.1em;
    cursor: pointer;
    border-radius: .8em;
    color: var(--text-color-0);
  }
  label{
    font-family: Poppins-Bold;
    color: var(--text-color-0);
  }
  .misc{
    padding: 0 1em;
    // justify-content: space-evenly;
    gap: 1em;  
    button{
      -webkit-app-region: no-drag;
      border: 0;
      width: 27px;
      height: 27px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: rgba(200,200,200,0.6);
      color: var(--text-color-0);
      // padding: .2em;
      font-size: 1.2em;
      &.to-dark{
        background-color: rgba(50,50,80,0.8);
        color: #fff;
        box-shadow: 0 1px 2px 0 #333;
      }
      &.to-light{
        background-color: rgba(250,250,200,0.9);
        color: #555;
        box-shadow: 0 1px 2px 0 #ccc;
      }
    }
  }
}


.search-item{
  padding: .4em;
  // margin: -.5em 0;
  border-radius: .4em;
  @extend %overable;
  .albumart{
    --size: 35px;
    height: var(--size);
    width: var(--size);
    border-radius: .3em;
    @extend %cover-image;
  }
  .info{
    padding: 0 .4em;
    &.albumartless{
      padding-left: 1em;
    }
  }
  .main{
    @extend %primary-info;
    padding-top: 0;
    font-size: .8em;
  }
  .second{
    @extend %secondary-info;
    font-size: .7em;
  }
}

.view-search{
  position: relative;
  --search-height: 0px;
  --scroll-opacity: 1;
  --scroll-blur: 0;
  --search-padding: 0;
  padding: .4em;
  &.searching{
    --search-height: 40vh;
    --scroll-opacity: 0.1;
    --scroll-blur: 5px;
    --search-padding: var(--search-zone-height) .4em .4em .4em;
  }
  .search-zone{
    .field{
      padding: .2em .5em;
      background-color: rgba(227, 217, 217, 0.5);
      border-radius: .4em;
      -webkit-app-region: no-drag;
      i{
        color: var(--text-color-2);
        font-size: 1.1em;
        padding: 0 .5em;
      }
      label{
        font-size: .7em;
        font-family: Roboto;
        position: relative;
        right: -1em;
        color: var(--text-color-1);
        &.activated{
          color: var(--text-color-0);
        }
        i{
          position: relative;
          color: inherit;
          left: -.5em;
        }
      }
      input{
        font-family: Poppins;
        border: 0;
        background-color: unset;
        outline: none;
        font-size: .85em;
        color: var(--text-color-0);
        &::placeholder{
          color: var(--text-color-2);
        }
      }
    }
  }
  .search-view{
    --action-height: 40px;
    height: var(--search-height);
    transition-duration: .2s;
    padding: var(--search-padding);
    border-radius: 1em;
    transition-property: height;
    background-color: var(--exposition-body-background);
    .search-content{
      height: calc(100% - var(--action-height));
      padding: .4em 5em .4em .5em;
      .empty{
        justify-content: center;
        align-items: center;
        i{
          // height: 30px;
          font-size: 3em;
          color: var(--text-color-1);
        }
        label{
          font-family: Roboto;
          color: var(--text-color-1);
          padding: .5em .4em;
        }
      }
    }
    .action{
      padding: .4em 0;
      height: var(--action-height);
      button{
        padding: 0 .5em;
        border: 0;
        font-size: 1.6em;
        background-color: var(--control-button-bg);
        border-radius: 1em;
        cursor: pointer;
        color: var(--text-color-0);
      }
    }
  }
  .scroll-view{
    height: calc(100% - var(--search-zone-height) - var(--search-height));
    transition-duration: .2s;
    transition-property: height, opacity;
    opacity: var(--scroll-opacity);
    // filter: blur(var(--scroll-blur));
    position: relative;
    top: var(--search-zone-height);
    padding: .4em;
    div[role="grid"]{
      overflow-x: hidden !important;
    }
    .group-tag{
      padding: .4em;
      color: var(--text-color-1);
      &:hover{
        text-decoration: underline;
      }
    }
  }
}


.header-actions{
  position: absolute;
  right: 1em;
  bottom: 0%;
  z-index: 4;
  transform: translateY(45%);
  // background-color: red;
  padding: .5em;
  gap: .5em;
  button{
    --size: 45px;
    width: var(--size);
    height: var(--size);
    cursor: pointer;
    font-size: 1.3em;
    text-align: center;
    justify-content: center;
    border: 0;//1px solid var(--text-color-0);
    background-color: var(--text-color-0);
    color: var(--text-color-0-reverse);
    border-radius: 50%;
    box-shadow: 0 2px 4px 1px var(--text-color-1);
    &.min{
      --size: 34px;
      font-size: 1em;
      background-color: var(--text-color-0-reverse);
      color: var(--text-color-0);
      box-shadow: 0 1px 3px 0 var(--text-color-0-reverse);
    }
  }
}

.exposition{
  padding: 0 .2em;
  .wall{
    height: var(--exposition-height);
    background-color: var(--exposition-default-background);
    border-radius: 0 0 .5em .5em;
    color: var(--text-color-0);
    background-size: cover;
    background-position: center 40%;
    background-repeat: no-repeat;
    .mask{
      // background-color: var(--exposition-mask);
      backdrop-filter: blur(1px);
      background-image: linear-gradient(var(--exposition-mask) -30%, transparent 90%);
    }
    .title{
     font-family: Poppins-Bold;
     font-size: 2em;
     padding: .4em;
     padding-top: 50px; 
     color: var(--text-color-0);
     text-shadow: 0 0 20px var(--text-color-0-reverse);
    //  background-image: linear-gradient(transparent 0%, var(--text-color-0-reverse) 70%);
    }
  }
  .body{
    padding: 1em;
    margin: .3em 0;
    background-color: var(--exposition-body-background);
    border-radius: 1.3em;
    overflow: hidden;
    height: 100%;
    position: relative;
    // &::before, &::after{
    //   content: "";
    //   width: 100%;
    //   height: 0px;
    //   box-shadow: 0 0 40px 25px var(--exposition-body-shadow);
    //   background-color: var(--exposition-body-background);
    //   position: absolute;
    //   z-index: 2;
    //   left: 0;
    // }
    // &::before{
    //   top: 0;
    // }
    // &::after{
    //   bottom: 0;
    // }
  }
}

.albuminfo{
  .wall{
    height: calc(var(--exposition-height) - 60px);
    // .header-actions{
    //   transform: translateY(45%);
    // } 
  }
  &.minimal{
    .wall{
      height: var(--exposition-height); 
    }
  }
  .music-row-wrapper{
    padding: .2em;
    .count{
      color: var(--text-color-1);
      font-family: Roboto;
      padding: .2em;
      width: 40px;
      font-size: .8em ;
    }
  }
}

.discography{
  padding: .4em;
  .presentation{
    --avatar-size: 120px;
    position: relative;
    height: var(--exposition-height);
    // background-color: grey;
    padding: var(--search-zone-height) .4em .4em .4em;
    .avatar{
      width: var(--avatar-size);
      height: var(--avatar-size);
      border-radius: 50%;
      background-color: black;
      @extend %cover-image;
    }
    .info{
      width: calc(100% - var(--avatar-size));
      padding: .3em .5em .3em 1.8em;
      .name{
        @extend %primary-info;
        padding: .3em 0;
        font-size: 1.5em;
      }
      .meta{
        .dot{
          width: 3px;
          height: 3px;
          background-color: var(--text-color-1);
          border-radius: 50%;
          margin: 0 .8em;
        }
        label{
          @extend %secondary-info;
          font-size: .8em;
        }
      }
    }
  }
  .disco-content{
    height: calc(100% - var(--exposition-height));
    padding: 2em .4em .4em .4em;
  }
  .heading{
    font-family: Poppins-Medium;
    padding: .5em 0;
    color: var(--text-color-0);
    font-size: 1em;
  }
  .disco{
    padding: .5em .4em;
  }
  .selection-music{
    padding: .3em .4em;
    .search-item{
      margin: 0;
    }
  }
}

.person-item{
  padding: .4em;
  border-radius: .8em;
  cursor: pointer;
  --avatar-size: 90px;
  &:hover{
    background-color: var(--item-hover-bg);
  }
  .avatar{
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius: 50%;
    background-color: var(--albumart-bg);
    @extend %cover-image;
    i{
      color: var(--text-color-1);
      font-size: 3em;
    }
  }
  .data{
    width: calc(100% - var(--avatar-size));
    padding: .3em .4em;
    .title{
        @extend %primary-info;
    }
    .alt{
        @extend %secondary-info;
    }
  }
}

.music-item{
  --height: 210px;
  --albumart: 130px;
  --albumwidth: 100%;
  --infoWidth: 100%;
  --borderWidth: 0;
  &.row-display{
    --height: 60px;
    --borderWidth: 4px;
    --albumart: 60px;
    --albumwidth: 60px;
    &.active::after{
      position: absolute;
      left: .24em;
      top: 50%;
      content: "";
      border-radius: 1em;
      transform: translateY(-50%);
      width: var(--borderWidth);
      height: 35%;
      background-color: var(--text-color-0);
    }
  }
  &.albumartless{
    --albumwidth: 0px;
  }

  padding: .3em .5em;
  height: var(--height);
  border-radius: .5em;
  position: relative;
  &:hover{
    background-color: var(--item-hover-bg);
    cursor: pointer;
  }
  &.active{
    background-color: var(--item-active-bg);
  }
  .album-art{
    height: var(--albumart);
    width: var(--albumwidth);
    background-color: var(--albumart-bg);
    border-radius: .4em;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    i{
      color: var(--text-color-1);
      font-size: 3em;
    }
  }
  .info{
    padding: .2em;
    .title{
        @extend %primary-info;
        font-size: .8em;
    }
    .artist{
        @extend %secondary-info;
        font-size: .7em;
    }
  }
}

.control-bar{
  padding: .1em .2em .4em .4em;
  &.floating-bar{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 5px;
    box-shadow: 0 0 2px 0 #777;
    border-radius: .4em;
    // backdrop-filter: blur(15px); @exp
    background-color: rgba(250,250,250,0.9);
  }
  .album-art{
    width: calc(var(--controlbarHeight) - 10px);
    height: calc(var(--controlbarHeight) - 10px);
    background-color: var(--albumart-bg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: .3em;
    font-size: 1.2em;
    color: var(--text-color-1);
  }
  .music-info{
    padding: 0 .3em;
    label{
      // padding: .2em 0;
      &.title{
        @extend %primary-info;
        font-size: .8em;
      }
      &.artist{
        @extend %secondary-info;
        font-size: .7em;
      }
    }
  }
  .controls{
    gap: .5em;
    button{
      --size: 34px;
      width: var(--size);
      height: var(--size);
      border-radius: 50%;
      border: 0;
      background-color: var(--control-button-bg);
      color: var(--text-color-2);
      &:hover{
        background-color: var(--control-button-bg-reverse);
      }
    }
  }
  .time-control{
    .time{
      font-family: Poppins;
      font-size: 80%;
      letter-spacing: .1em;
      color: var(--text-color-0);
    }
  }
  .queue-control{
    gap: .8em;
    button{
      padding: .5em;
      border-radius: .5em;
      border: 0;
      background-color: var(--control-button-bg);
      color: var(--text-color-0);
      i{
        font-size: 1.1em;
      }
    }
    .volume{
      margin-left: .3em;
    }
  }
}

.line-container{
  .marker{
    --size: 10px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    transition-duration: .1s;
    transition-property: left, top;
  }
  .line{
    background-color: var(--line-bg);
    border-radius: .3em;
    .indicator{
      background-color: var(--text-color-0);
      border-radius: inherit;
      transition-duration: .1s;
      transition-property: width, height;
    }
  }
  &.vertical{
    height: 100%;
    width: 20px;
    position: relative;
    .line{
      width: 4px;
      .indicator{
        width: inherit;
        position: absolute;
        bottom: 0;
      }
    }
    .marker{
      left: 50%;
      top: 100%;
      // transform: translate(100%, -100%);
      background-color: var(--text-color-0);
    }
  }
  &.horizontal{
    height: 20px;
    position: relative;
    .line{
      height: 4px;
      .indicator{
        height: inherit;
      }
    }
    .marker{
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-color: var(--text-color-0);
    }
  }
}

.popup{
  z-index: 99;
  .popup-mask{
    background-color: var(--popup-mask);
  }
  .popup-box{
    padding: .4em;
    background-color: var(--popup-background);
    backdrop-filter: var(--popup-backdrop);
    box-shadow: 0 1px 4px 0 var(--popup-shadow-color);
    border-radius: .4em;
    &.delayed{
      transform: scale(0,0);
      will-change: transform;
    }
    &.scale-x{
      transform: scale(0,1);
    }
    &.scale-y{
      transform: scale(1,0);
    }
    &.animated{
      transform: scale(1,1);
    }
    &.centered{
      left: 50%;
      top: 50%;
      transform: translate(-50%,-50%);
    }
  }
}

.app-menu-popup{
  padding: .2em;
  h1{
    font-family: Poppins-Medium;
    font-weight: normal;
    font-size: 1em;
    color: var(--menu-title-color);
  }
  .items-wrapper{
    padding: .2em;
    background-color: var(--menu-item-wrapper-bg);
    .menu-item{
      padding: .3em;
      border-radius: .3em;
      font-family: Roboto;
      color: var(--menu-item-color);
      label{
        font-size: .8em;
        padding: .2em .4em;
      }
      &:hover{
        background-color: var(--menu-item-hover-bg);
      }
    }
  }
}

.equalizer-box{
  padding: .4em;
  h1{
    font-family: Poppins-Bold;
    padding: .4em;
    color: var(--text-color-0);
  }
  .presets{
    padding: .5em 2em;
    gap: .8em;
    label{
      @extend %primary-info
    }
    select{
      padding: .5em;
      border: 0;
      border-radius: .4em;
      background-color: var(--line-bg);
      color: var(--text-color-0);
    }
  }
  .inputs-wrapper{
    height: 30vh;
    .wrapper{
      margin-bottom: 2em;
      position: relative;
      // background-color: red;
      &::after{ 
        position: absolute;
        content: "";
        width: 60%;
        height: 1px;
        background-color: var(--text-color-1);
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
      }
      .line-container{
        z-index: 2;
      }
      .marker{
        width: 20px;
        height: 25px;
        border-radius: .5em;
        box-shadow: 0 0 2px 0 var(--text-color-0-reverse);
        &::after{
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%,-50%);
          background-color: var(--text-color-1);
          width: 5px;
          height: 5px;
          border-radius: .4em;
        }
      }
      .info{
        padding: .5em 0;
        label{
          &.primary{
            @extend %primary-info;
            font-size: .7em;
          }
          &.secondary{
            @extend %secondary-info;
            font-size: .7em;
          }
        }
      }
    }
  }
  .volume-zone{
    padding: .5em 4em;
    margin-top: 1em;
    label{
      font-family: Lexend;
      color: var(--text-color-0);
      font-size: .9em;
      padding: .4em 0;
    }
    .line-container{
      height: 40px;
      background-color: var(--line-bg);
      border-radius: 1.3em;
      padding: 0 .3em;
      position: relative;
      .line{
        height: 30px;
        background-color: unset;
        overflow: hidden;
        border-radius: 1em;
        .indicator{
          height: inherit;
        }
      }
      .marker{
        display: none;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--text-color-0);
      }
    }
  }
  .actions{
    padding: .3em;
    button{
      background-color: unset;
      font-family: Poppins-Medium;
      padding: .6em;
      border: 0;
      border-radius: .4em;
      cursor: pointer;
      color: var(--text-color-0);
      &:hover{
        background-color: var(--light-button-bg);
      }
    }
  }
}

.player-ui-container{
  @extend %cover-image;
}

.player-ui{
  padding: .4em;
  backdrop-filter: blur(25px);
  .header{
    height: var(--action-height);
    z-index: 2;
    top: 0;
    left: 0;
    padding: .5em;
    button{
      background-color: var(--control-button-bg);
      border: 0;
      border-radius: .4em;
      padding: .3em .4em;
      font-size: 1.6em;
      color: var(--text-color-0);
    }
  }
  .mask{
    z-index: 1;
    background-color: var(--section-1-background);
  }
  .main-info{
    padding: .5em;
    .albumart{
      --size: 35vmin;
      width: var(--size);
      height: var(--size);
      @extend %cover-image;
      transition-duration: .2s;
      transition-property: width,height,top,left;
      background-color: var(--albumart-bg);
      border-radius: 50%;
      i{
        font-size: 5em;
        color: var(--text-color-0);
      }
    }
    .music-metadata{
      padding: .5em .3em;
      color: var(--text-color-0);
      transition-duration: .2s;
      transition-property: width,font-size,height,top,left;
      label{
        padding: .3em 0;
        justify-content: center;
      }
      .title{
        font-size: 1.3em;
        @extend %ellipsis;
        font-family: Lexend-Medium;
      }
      .artist{
        font-size: .9em;
        @extend %ellipsis;
        @extend %secondary-info;
      }
      .album{
        font-size: .9em;
        @extend %ellipsis;
      }
    }
    .progression{
      padding: .5em;
      border-radius: 1em;
      overflow: hidden;
      transition-duration: .2s;
      transition-property: width,height,top,left;
      --line-height: .7vmin;
      .time{
        border-radius: .5em;
        padding: .4em 0;
        font-family: Poppins;
        color: var(--text-color-0);
        font-size: .8em;
      }
      .line-container{
        width: 100%;
        .line{
          height: var(--line-height);
          background-color: var(--player-ui-line-bg);
          overflow: hidden;
          border-radius: .8em;
          .indicator{
            height: inherit;
          }
        }
        .marker{
          --size: 18px;
          //display: none;
        }
      }
    }
    .controls{
      padding: 1em .5em;
      gap: .8em;
      --size: 45px;
      transition-duration: .2s;
      transition-property: width,height,top,left;
      button{
        &.play{
          --size: 70px;
          background-color: var(--text-color-0);
          color: var(--text-color-0-reverse);
          box-shadow: 0 2px 6px 1px var(--text-color-0);
        }
        width: var(--size);
        height: var(--size);
        font-size: 1.3em;
        border-radius: 50%;
        border: 0;
      }
    }
    &.up{
      .albumart{
        position: absolute;
        --size: 43px;
        top: 10px;
        left: 60px;
        i{
          font-size: 1em;
        }
      }
      .music-metadata{
        position: absolute;
        top: 5px;
        left: 110px;
        width: 21%;
        //background-color: red;
        font-size: .6em;
        label{
          justify-content: left;
        }
        .album{
          display: none;
        }
      }
      .progression{
        position: absolute;
        flex-wrap: nowrap;
        top: 10px;
        overflow: unset;
        //background-color: green;
        left: calc(21% + 110px);
        width: 45%;
        z-index: 5;
        --line-height: 4px;
        .marker{
          --size: 10px;
        }
      }
      .controls{
        position: absolute;
        flex-wrap: nowrap;
        top: 0px;
        left: calc(66% + 110px);
        width: 18%;
        //background-color: yellow;
        --size: 25px;
        button {
          background-color: unset;
          color: var(--text-color-0);
          &.play {
            --size: 25px;
            background-color: unset;
            color: var(--text-color-0);
            box-shadow: unset;
          }
        }
      }
    }
  }
  .actions{
    padding: .2em .4em;
    height: calc(100% - 60px);
    user-select: none;
    z-index: 2;
    border-radius: 2em 2em 0 0;
    transform: translateY(calc(100% - var(--header-action-height) - var(--tab-header-height) - 4px));
    transition-duration: .2s;
    transition-property: transform;
    backdrop-filter: brightness(5);
    &.up{
      transform: translateY(0px);
    }
    .header-actions-arrow{
      height: var(--header-action-height);
    }
    .tab-container{
      height: calc(100% - var(--header-action-height));
    }
  }
}

.tab-manager{
  .tab-head-container{
    height: var(--tab-header-height);
    .tab-head{
      font-family: Lexend;
      color: var(--text-color-1);
      cursor: pointer;
      &.active{
        color: var(--text-color-0);
        font-family: Lexend-SemiBold;
      }
    }
  }
  .tab-body-container{
    height: calc(100% - var(--tab-header-height));
  }
}

.arrow-line{
  padding: .8em 0;
  cursor: pointer;
  .line{
    width: 50%;
    height: 5px;
    background-color: var(--text-color-0);
    border-radius: .4em;
    position: relative;
    transition-duration: .2s;
    transition-property: transform;
    &.left{
      right: -.05em;
      transform: rotate(-10deg);
    }
    &.right{
      left: -.1em;
      transform: rotate(10deg);
    }
  }
  &.down{
    .left{
      transform: rotate(10deg);
    }
    .right{
      transform: rotate(-10deg);
    }
  }
}

.queue-list{
  padding: .8em 1em;
  .music-item{
    --height: 75px;
    padding: .8em;
    .album-art{
      font-size: .6em;
      border-radius: 1em;
    }
    .info{
      top: -.4em;
      padding: 0 .4em;
      position: relative;
    }
  }
}

.lyrics-container{
  padding: .4em;
  height: 100%;
  transition-duration: .2s;
  transition-property: scroll;
  .lyrics-bar{
    padding: .3em;
    font-family: Lexend;
    font-size: 1.2em;
    color: var(--text-color-1);
    transition-duration: .2s;
    transition-property: font-size;
    &.active{
      font-family: Lexend-Medium;
      font-size: 1.8em;
      color: var(--text-color-0);
    }
  }
  &.unsynchronised{
    .lyrics-bar{
      font-family: Roboto;
      color: var(--text-color-0);
    }
  }
}

.no-lyrics{
  font-family: Poppins;
  font-size: 1.3em;
  color: var(--text-color-1);
}